.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 40px 0 40px 20px;
  border-radius: 37px;
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
  width: 80%;
}
.daily_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_card {
  background-color: var(--color-news-bg);
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}
.news_card:nth-child(2n) {
  background-color: var(--color-news-bg-inverted);
}
.news_card > * {
  padding: 0 1rem;
}
.news_card h3 {
  margin: 0.5rem 0 0 0;
}
.news_card p {
  margin: 0 0 1rem 0;
}
.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 0;
  margin-top: 30px;
}
.news_card:first-child {
  border-radius: 37px 37px 0 0;
}
.news_card:last-child {
  border-radius: 0 0 37px 37px;
}

.news_card .cta_btn {
  justify-self: center;
}
.cta_btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--color-cta-card-bg);
  text-decoration: none;
  width: max-content;
  border-radius: 37px;
}
.news_card .cta_btn {
  background-color: var(--color-cta-newscard-bg);
  border: 0;
}
.news_card:nth-of-type(2n) .cta_btn {
  background-color: var(--color-cta-newscard-bg-inverted);
  color: var(--color-text);
}
.cta_btn:after {
  content: "\2192";
  margin-left: 1rem;
}

[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 65ch;
  width: 90vw;
  margin: auto;
  padding: 3em;
  line-height: 1.5em;
  background-color: var(--color-card-bg);
  color: var(--color-text);

  button {
    position: sticky;
    top: 0;
    justify-self: end;
  }

  &:popover-open {
    display: grid;
    border-radius: 37px;
    border: none;
  }

  &::backdrop {
    background: #0008;
  }
  img {
    width: 100%;
    padding: 1em;
  }
  h3 {
    font-size: large;
  }
  time {
    font-size: x-small;
  }
  .close_btn {
    background-color: var(--color-cta-newscard-bg);
    border-radius: 50%;
    border: 0;
    padding: 1rem;
    font-size: small;
  }
  .close_btn2 {
    background-color: var(--color-cta-newscard-bg-inverted);
    border-radius: 50%;
    border: 0;
    padding: 1rem;
    font-size: small;
  }
}
[popover],
::backdrop {
  opacity: 0;
  transition: 300ms;
}
::backdrop {
  transition: 300ms allow-discrete;
}
:popover-open,
:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open,
  :popover-open::backdrop {
    opacity: 0;
  }
}

html {
  [popover]
}
