html {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#fceb94, #707070); /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: light-dark(#fff, #272727); /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;
  a.cta_btn {
    color: #fffae2;
  }

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#000, #fff9e3);
  --color-headline-text-page: light-dark(#fffae2, #494949);

  /* Tekst */
  --color-text: light-dark(#000, #fff9e3);
  --color-text-inverted: light-dark(#fffae2, #494949);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#fff, #272727);
  --color-cta-card-bg: light-dark(#ff4b00, #fe4b01);
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #494949);
  --color-news-bg-inverted: light-dark(#dbe2f5, #272727);
  --color-cta-newscard-bg: light-dark(#ffa680, #7a5848);
  --color-cta-newscard-bg-inverted: light-dark(#6f90eb, #3f4860);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#fff, #272727);
  --color-infobox-1-bg: light-dark(#fceb94, #777153);
  --color-infobox-2-bg: light-dark(#def5db, #586456);
}
html.dark {
  color-scheme: dark;
}
