#webform {
  background-color: var(--form-background-color);
}
#form-section,
#form-summary {
  background-color: #fff;
  border-radius: 37px;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: black;
  color: #fffae2;
  padding: 0;
  margin-left: -0.84rlh;
  margin-right: -0.84rlh;
  margin-top: 20px;
  margin-bottom: 1em;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5em;
}
#form-summary .placeholder {
  font-weight: bold;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.form-group:has(label) {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
input {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}
textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}
option {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  padding: 1rlh;
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  padding: 0.5rlh;
}
select {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  padding: 0.3rlh;
}
label {
  font-weight: bold;
}

button {
  background-color: #ff4b00;
  color: #fffae2;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  padding: 0.5rlh 0.5rlh;
}
.error-message {
  color: darkred;
}
/* Form layout */
form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;
  .form-group {
    display: grid;
    gap: 0.1rlh;
  }
  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}
/* Pseudo-classes */
:focus-visible {
  outline: 2px solid #ff4b00;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #222;
}

/* Active-styles */
button:active {
  scale: 0.98;
}

/* Valideringsregler */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }

  .error-message {
    display: block;
  }
}

/* Styling */
#form-info h2 {
  background-color: #000;
  color: #fffae2;
  margin-left: -0.84rlh;
  margin-right: -0.84rlh;
  margin-top: 30px;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  text-align: center;
  padding: 0.5em;
}
#form-info p {
  text-align: center;
}
