/* Styling af forms */
input {
  border: 1px solid #ccc;
  padding: .25rlf;
  border-radius: 6px;
}
button {
  border-radius: 37px;
  cursor: pointer;
  background-color: #ff4b00;
  color: #fffae2;
  padding:0.25rlh 0.25rlh ;
  border: none;
}
.error-message {
  color: darkred;
}
#form-h2 {
  background-color: black;
  color: #fffae2;
  display: block;
}
/* Form layout */
#form-section {
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
  border-radius: 37px;
  line-height: 1.5em;
}
#form-section #form-info {
  text-align: center;
margin-bottom: 1.5rem;
}




.form-group { 
  display: grid; 
  gap: 1rlh;
}
label:has(input) {display: flex;
align-items: center;
gap: 0.25rlh;
justify-self: start;
}
/* Pseudo-classes */
:focus-visible {
  outline: 2px solid #fceb94;
  outline-offset: 1px;
}

/* Hover styles */
button:hover {
  background: #000;
}

/* Active-styles (on click) */
button:active {
  scale: 0.98;
}
/* Valideringsregler */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
  color: red;
}
}
/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input{
  outline: 3px solid #ffa680;
    border-color: darkred;
  }
  }

/* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
.error-message {
  display: block;
}

#webform {
  background-color: var(--form-background-color);
}
#form-section,
#form-summary {
  background-color: #fff;
 border-radius: 37px;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}2
